<form action='/cars/create' method='post'>
  <input type='text' name='make' placeholder='Enter Car Maker'>
  <input type='text' name='model' placeholder='Enter Car Model'>
  <input type='text' name='year' placeholder='Enter Car Year'>
  <input type='text' name='type' placeholder='Enter Car type'>
  <input type='submit'>
</form>
